<h1> Log In </h1>


<%= form_with(scope: :session, url: login_path, local: true) do |f| %>

<p>
    <%=f.label :email%><br/>
    <%=f.email_field :email%><br/>
</p>
<p>
    <%=f.label :password%><br/>
    <%=f.password_field :password%><br/>
</p>
<p>
    <%=f.submit "Login"%>
</p>
<%end%>

<%=link_to 'Articles Listing', articles_path %> |
<%=link_to 'Home Page', root_path %> |
<%=link_to 'Users Listing', users_path %> |