<center>
<h1>Articles listing page </h1>

<%=render 'article' %>
<p>
    <%=link_to 'Create new Article', new_article_path%> |
    <%=link_to 'Home Page', root_path %> |
    <%=link_to 'Signup Today!', signup_path %> |
    <%=link_to 'Users Listing', users_path %> |
    <% if logged_in? %>
        <%=link_to 'LOGOUT NOW', root_path, method: :delete %> | 
    <%else%>
        <%=link_to 'LOGIN NOW', login_path%> |
    <%end%>
</p>
<center>
